<main class="main">
  <header-layout></header-layout>
  <section class="content">
    <router-outlet></router-outlet>
  </section>
  <div>
    <button (click)="onclick()">Click me</button>
    <p>{{ message }}</p>
    <input
      type="text"
      [(ngModel)]="bindingMessage"
      placeholder="Type something..."
    />
    <p>Message: {{ bindingMessage }}</p>
    <div class="body-cart">
      <div class="row-cart" *ngFor="let product of products">
        <div class="col-1">
          <img
            width="50px"
            height="auto"
            [src]="product.image"
            alt="{{ product.name }}"
          />
        </div>
        <div class="col-2">
          {{ product.name | uppercase }}
        </div>
        <div class="col-3">
          {{ product.price | currency : "USD" }}
        </div>
        <div class="col-4">
          <button class="btn-main">
            <img
              width="20px"
              height="auto"
              src="assets/images/bin.png"
              alt="Delete"
            />
          </button>
        </div>
      </div>
    </div>
  </div>
</main>
